<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <p><h3 class="center_me">¡Bienvenido / Bem-vindo / Welcome!</h3></p>
    <p><h2 class="center_me">{{ user.username | upper }}</h2></p>
    <br>
    <p class="center_me">Ya estás conectado a Internet</p>
    <p class="center_me">Você já está conectado à Internet</p>
    <p class="center_me">You're connected to the Internet</p>
  {% else %}
    <p class="center_me">Debes iniciar sesión primero</p>
    <p class="center_me">Você deve fazer login primeiro</p>
    <p class="center_me">You must login first</p>
  {% endif %}
{% endblock %}

{% block footer %}
  {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'account_logout' %}">Log In</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'account_login' %}">Log In</a>
  {% endif %}
{% endblock %}